@import "tailwindcss";

:root {
  --container-page: 1280px;
  --form-container: 640px;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
    overflow: hidden;
}

body {
  font-weight: 400;
  background-color: #eef5ff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

* {
  box-sizing: border-box !important;
  font-family: var(--font-ubuntu) !important;
  padding: 0;
  margin: 0;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
/*
input{
  padding-inline: 12px;
  padding-block: 8px;
  border: 1px solid;
  border-radius: 4px;
  box-shadow:  0.1px 0.1px 2px #92929c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
} */
button{
  padding-inline: 16px;
  padding-block: 8px;
  min-height: 36px;
  background-color: #0a3265;
  color:#fff;
  border-radius: 8px;
}
.layoutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eef5ff;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 90%;
  justify-content: space-between;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-inline: 16px;
}

.pageContainer {
  width: 100%;
  max-width: 640px;
  margin-inline: auto;
  margin-top: -28px;

  background-color: #fff;
  border-radius: 8px;
  padding-inline: 24px;
  padding-top: 32px;
  padding-bottom:16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #0a3265;

  overflow-wrap: anywhere;
}

.caption {
  margin-block: 12px;
  color: #92929c;
  font-weight: 500;
}

@media (min-width: 768px) {
  body{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .layoutContainer {
    flex-direction: row;
    width: 850px;
    height: 500px;
    min-height: 0px;
    max-width: var(--container-page);
    margin: auto;
    background-color: #fff;
    padding: 24px;
  }

  .page-container {
    flex: 1;
    min-width: 0;
  }

  .main-content {
    flex: 1;
    min-width: 0;
  }
}