@import "tailwindcss";
body {
  font-family: var(--font-ubuntu), sans-serif;
  font-weight: 400;
}
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #ca2626;
  height: 100vh;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
